# 판다(pandas)

판다는 r의 dataframe과 같이 테이블 형태의 데이터를 분석하는 기본툴이다. 개인적의 r dataframe보다 더 많은 기능을 담고 있어서 편리하다. 

## Pandas series& Data Frame 
판다의 기본 단위는 series와 dataframe으로 구성된다.
* series 는 index로 구성된 행이다. 
* dataframe은 series의 합으로써, index(가로행)과 column(세로열)로 구성되어있다. 또한 shape,index,colunm와 같은 인스턴스를 같는다. series가  dataframe으로 합해지면, series는 열병합을 한다.

In [4]:
import pandas as pd
names=['Bob','Jessica','Mary','John','Mel']
births=[968,155,77,578,973]
BabyDataSet=list(zip(names,births))

df=pd.DataFrame(data=BabyDataSet, columns=['Names','Births'])
print(df);print(df.shape);print(df.index);print(df.columns);print(df.axes)

     Names  Births
0      Bob     968
1  Jessica     155
2     Mary      77
3     John     578
4      Mel     973
(5, 2)
RangeIndex(start=0, stop=5, step=1)
Index(['Names', 'Births'], dtype='object')
[RangeIndex(start=0, stop=5, step=1), Index(['Names', 'Births'], dtype='object')]

데이터 프레임은 dictionary형태로 데이터의 직접 입력이 가능하며 concat을 통해서 merge가 가능하다.

In [5]:
df1 = pd.DataFrame({'A': ['A0', 'A1', 'A2', 'A3'],
                    'B': ['B0', 'B1', 'B2', 'B3'],
                    'C': ['C0', 'C1', 'C2', 'C3'],
                    'D': ['D0', 'D1', 'D2', 'D3']},
                   index=[0, 1, 2, 3])

df2 = pd.DataFrame({'A': ['A4', 'A5', 'A6', 'A7'],
                    'B': ['B4', 'B5', 'B6', 'B7'],
                    'C': ['C4', 'C5', 'C6', 'C7'],
                    'D': ['D4', 'D5', 'D6', 'D7']},
                   index=[4, 5, 6, 7])

df3 = pd.DataFrame({'A': ['A8', 'A9', 'A10', 'A11'],
                    'B': ['B8', 'B9', 'B10', 'B11'],
                    'C': ['C8', 'C9', 'C10', 'C11'],
                    'D': ['D8', 'D9', 'D10', 'D11']},
                   index=[8, 9, 10, 11])

 
df4 = pd.DataFrame({'B': ['B2', 'B3', 'B6', 'B7'],
                    'D': ['D2', 'D3', 'D6', 'D7'],
                    'F': ['F2', 'F3', 'F6', 'F7']},
                   index=[2, 3, 6, 7])

frames=[df1,df2,df3]
result1=pd.concat(frames)
result2=pd.concat(frames,keys=['x','y','z'])
result3=pd.concat([df2,df4],axis=1)
result3

     A    B    C    D    B    D    F
2  NaN  NaN  NaN  NaN   B2   D2   F2
3  NaN  NaN  NaN  NaN   B3   D3   F3
4   A4   B4   C4   D4  NaN  NaN  NaN
5   A5   B5   C5   D5  NaN  NaN  NaN
6   A6   B6   C6   D6   B6   D6   F6
7   A7   B7   C7   D7   B7   D7   F7

## 인덱싱 
데이터 프레임에서 가장 중요한 것은 내가 원하는 형태로 자르고 붙히는 인덱싱기능이다. 판다 데이터 프레임은 다양한 인덱싱기능을 제공한다. 
* 열기반:열의 이름을 바로 입력하면된다.  
* 행기반:loc(문자열),iloc(숫자)

In [7]:
df3["B"]

8      B8
9      B9
10    B10
11    B11
Name: B, dtype: object

In [11]:
df.loc[2],df.iloc[2]

(Names     Mary
 Births      77
 Name: 2, dtype: object, Names     Mary
 Births      77
 Name: 2, dtype: object)